* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-smn.sme-smn.dix -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
texts/saamelaiset_suomessa.sme.txt -text
texts/saamelaiset_suomessa.smn.txt -text
texts/tarina.sme.txt -text
